<section>
  <div class="lineCreator">
    <img
      style="margin-bottom: 24px"
      width="96px"
      height="96px"
      src="assets/qr-image.png"
      alt=""
    />
    <p style="line-height: 22px; padding: 0px 0px 4px">
      <strong style="font-size: 24px">Done. Now it’s up to you!</strong>
      <br /><br />Print a sign with a QR code and place it so that visitors can
      easily notice and scan it. Use the administration link to manage your
      queue. Store administration link at a safe place and do not reveal it to
      strangers
    </p>
  </div>
</section>
