<section>
  <div class="lineCreator">
    <img
      style="margin-bottom: 24px"
      width="96px"
      height="96px"
      src="assets/qr-image.png"
      alt=""
    />
    <p style="line-height: 22px; padding: 0px 0px 4px">
      <strong style="font-size: 24px">Create Queue</strong> <br /><br />Come up
      with the name for your queue. It could be the name of your shop (e.g.,
      <i>"Pollock's Toyshop"</i>) or service (e.g.,
      <i>"Residence Registration"</i>).
    </p>
    <div class="mb-2">
      <input
        placeholder="Queue name"
        class="form-control Input__el"
        type="text"
      />
    </div>

    <button (click)="navigateToLinks()" class="btn btn-primary">Create</button>
  </div>
</section>
