/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

// body {
//   background-color: #f0f2f5 !important;
// }

.font-w-500 {
  font-weight: 500;
}
.cursor {
  cursor: pointer;
}

.lineCreator {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 580px;
  margin: 5rem auto;
  padding: 20px;
  box-sizing: border-box;
}
